p{
    font-family: "Roboto", "Arial";
    margin-top: 0;
    margin-bottom: 0;
}

body{
    margin:0;
}

@media only screen and (max-width: 565px){
    .header-middle-section{
        margin-left: 15px;
        margin-right: 35px;
    }
    .header{
        align-items: left;
    }
    .youtube-logo{
        height: 20px;
        width: 31px;
        object-position: left;
        object-fit: cover;
    }
    .hamburger-menu{
        height: 24px;
        margin-left: 12px;
        margin-right: 12px;
        cursor: pointer;
    }
    .search-bar{
        width: 130px;
    }
    .search-button{
        width: 50px;
    }
    .header-right-section{
        visibility:collapse;
    }
    .my-channel-profile{
        visibility: visible;
    }
    .upload,.youtube-apps,.notifications{
            height: 0px;
            width: 0px;
    }
}
@media only screen and (max-width: 340px){
    .voice-search-icon-button{
        visibility: hidden;
    }
}

