.vids-container{
    padding-top: 71px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(242, 242, 242)
}
.gridder{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    column-gap: 15px;
    row-gap: 30px;
}
.thumbnail{
    width:100%;
    object-fit:cover;
    display: block;
    border-radius: 6px;
}
.video-preview{
    width:100%;
    cursor:pointer;
    border-radius: 6px;
    padding-bottom: 10px;
}
.video-preview:hover{
    box-shadow: 0 0 8px 3px rgba(96, 96, 96, 0.168);
}
.vid-title,.vid-creator,.vid-stats{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 3px;
    font-family: "Roboto", "Arial";
}
.vid-title{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}
.vid-creator{
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 3px;
}
.vid-stats{
    font-size: 13px;
    color: rgb(96, 96, 96);
}
.channel-picture{
    margin-left: 7px;
}
.video-info{
    display:inline-block;
    margin-left: 8px;
    margin-right: 8px;
}
.profile-pic{
    width: 40px;
    height:40px;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail-row{
    margin-bottom: 10px;
}